
<div class="container">
  <h2>User Details</h2>
  <hr>
  <dl class="list">
    <dt>First Name</dt>
    <dd>{{ _reguserService.reguserObj.first_name }}</dd>
    <dt>Last Name</dt>
    <dd>{{ _reguserService.reguserObj.last_name }}</dd>
    <dt>Phone</dt>
    <dd>{{ _reguserService.reguserObj.phone }}</dd>
  </dl>
  <div class="row">
      <div class="col-md-12">
        <a class="btn btn-success" [routerLink]="['/edit-reguser', _reguserService.reguserObj._id]">EDIT</a>
        <button class="btn btn-danger" type="button" (click)="onDeleteRegUser(_reguserService.reguserObj._id)">DELETE</button>
        <button class="btn btn-default" type="button" routerLink="/signup">BACK</button>
      </div>
    </div>
</div>
