/* You can add global styles to this file, and also import other style files */
.margin-left-custom {
    margin-left: 5px;
}

.red-border {
    border: 1px solid red;
}

i:hover {
    cursor: pointer;    
}

.fontsizecustom {
    font-size: 2em;
}
