<div class="text-center">
  <h2>User Informations</h2>
</div>
<hr>
<table class="table table-sm table-hover">
  <tr>
    <td><b>First Name</b></td>
    <td><b>Last Name</b></td>
    <td><b>Phone No.</b></td>
  </tr>
  <tr *ngFor="let reguser of _reguserService.reguserList">
    <td>{{ reguser.first_name }}</td>
    <td>{{ reguser.last_name }}</td>
    <td>{{ reguser.phone }}</td>
    <a class="btn">
      <i class="fa fa-pencil-square-o" (click)="onEdit(reguser)" ></i>
    </a>
    <a class="btn">
        <i class="fa fa-trash-o" (click)="onDeleteRegUser(reguser._id)"></i>
      </a>
  </tr>
</table>

<!-- [routerLink]="['/editreguser', reguser._id]" -->