<div class="text-center">
  <h2>Registered Users ----</h2>
</div>
<hr>
<table class="table table-sm table-hover">
  <tr>
    <td><b>First Name</b></td>
    <td><b>Last Name</b></td>
    <td><b>Phone</b></td>
    <td><b>Edit</b></td>
  </tr>
  <tr *ngFor="let regUser of _reguserService.reguserList">
    <td>{{ regUser.first_name }}</td>
    <td>{{ regUser.last_name }}</td>
    <td>{{ regUser.phone }}</td>
    <td>
      <a [routerLink]="['/editreguser', regUser._id]">
        <i class="fa fa-address-book fontsize-custom" ></i>
        <i><b>Details</b></i>
      </a> 
  </td>
  </tr>
</table>
